<h2>Login</h2>
<form class="form login-form">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
</form>
<a href="/signup">Or Signup By Clicking here!</a>

<script src="../public/js/login.js"></script>